<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351334269890-7tikovnmblm816mvp7gonppqs998rlq6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351334269890-7tikovnmblm816mvp7gonppqs998rlq6</string>
	<key>API_KEY</key>
	<string>AIzaSyATxEmTPZ3CovbEUDSnE3dUp5ogkKNh-rg</string>
	<key>GCM_SENDER_ID</key>
	<string>351334269890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zehfernando.godraw</string>
	<key>PROJECT_ID</key>
	<string>go-draw</string>
	<key>STORAGE_BUCKET</key>
	<string>go-draw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351334269890:ios:d5a9dc2b3e880644</string>
	<key>DATABASE_URL</key>
	<string>https://go-draw.firebaseio.com</string>
</dict>
</plist>